Filtering: <input type="text" [formControl]="myInput">
<br><br>
<table border="1" cellpadding="5">
  <thead>
  <th>ID <button id="thID" #buttonID (click)="onClick(buttonID)">sort</button> </th>
  <th>Name <button id="thName" #buttonName (click)="onClick(buttonName)">sort</button></th>
  <th>Promotion</th>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <ng-container *ngIf="product.name.toLowerCase().includes(lastInput.toLowerCase())">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.isPromoted }}</td>
    </ng-container>
  </tr>
  </tbody>
</table>
